//*************************************************
//*************************************************
//*************************************************
//*****************  F O N T S  *******************
//*************************************************
//*************************************************
//*************************************************

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$font-title-alt: "Oleo Script", cursive;
$font-title: "Roboto", sans-serif;
$font-text: Avenir, Helvetica, Arial, sans-serif;

//*************************************************
//*************************************************
//*************************************************
//***************  C O L O R S  *******************
//*************************************************
//*************************************************
//*************************************************

$black: rgb(0, 0, 0);
$gray: #333333;
$gray-transparent: rgba(240, 240, 240, 0.9);
$gray-blue: #2c3e50;
$white: rgb(250, 250, 250);

$light-green: rgb(113, 178, 128);
$light-blue: rgb(20, 169, 185);
$dark-green: rgb(19, 78, 94);
$dark-blue: rgb(7, 90, 153);

$light-red: #e63434;

$alert-red: #dd502f;
$alert-green: #3abc13;

$shadow-green: rgba($light-green, 0.75);
$shadow-blue: rgba($dark-green, 0.5);
$shadow-black: rgba($black, 0.15);

$gradient-green: linear-gradient(145deg, $dark-green 20%, $light-blue);
$gradient-blue: linear-gradient(145deg, $dark-blue 30%, $light-blue 70%);

//

$color-bg: $gray-transparent;
$color-text: $gray-blue;

//*************************************************
//*************************************************
//*************************************************
//***************  S I Z E S *******************
//*************************************************
//*************************************************
//*************************************************

$size1: 1rem;
$size2: 2rem;
